<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="static/topojson.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="static/GeoJSON.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
      body{
    background:#fafafa;
}

svg{
    background:#fff;
}

svg #council_area{
    fill:#ddd;
}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzM6vnoSDzw6Z5sGtMDtwZ5TD4SU5ljGc&sensor=false&libraries=visualization">
    </script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
    <script type="text/javascript" src="static/map2.js"></script>
  </head>
  <body >
    <div id="map-canvas" />
  </body>
</html>
