<html>
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <title>ILW-Finder</title>
  </head>
  <body>
    <h1>Hello Edinburgh Neighbourhoods! {{ ref2.x }} {{ ref2.y }}</h1>
    <!-- <p>The coordinates of the first entry ({{ postcode }}) are: ({{ lat }}E, {{ lon }}N)</p> -->
    <div id="map">
    </div>
    <script type="text/javascript" src="{{ url_for('static',  filename='map.js') }}"></script>
  </body>
</html>
